In [ ]:
Chegou a hora, Jean Michel Farias Ferreira Lima! Você vai começar a sua jornada no #7DaysOfCode.

Estou muito animado para começar esse desafio! Iremos explorar os dados de empréstimos dos acervos do 
sistema de bibliotecas da UFRN.

Um dos objetivos de uma biblioteca é garantir que os materiais informacionais estejam sendo utilizados.
Os empréstimos realizados podem ser um indicador, mesmo que de forma básica
(pois você não consegue garantir que haja uma leitura ou utilização real).

Por este motivo, entender a quantidade de empréstimos se torna importante.

# Questões de diferentes perspectivas podem surgir como:


# A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?
# Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?
# Quais são os temas mais emprestados? E os menos?

# Com estas e outras informações será possível entender o cenário e apresentá-lo à diretoria das bibliotecas, 
# para que possam tomar melhores decisões na melhoria da infraestrutura, dos recursos e processos da unidade de informação.

# Mas para que tudo isso seja realizado, você precisará começar com a coleta e organização dos dados 
# para que possa trabalhar com eles nas próximas análises.

# Borá lá?!

# Você trabalhará com dados apenas dos últimos 10 anos disponíveis. Por isso, importe para seu Jupyter Notebook os dados de:


# Empréstimos dos acervos das bibliotecas de UFRN
# Exemplares do acervo

# Dados baixados? Ok, mas são diversas tabelas diferentes e isso dificulta o trabalho. 
# Portanto, o seu primeiro passo é unificar em um único Dataframe todos os dados pertinentes para a análise.

# Comece pelos empréstimos e você terá os dados das transações. 
# Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, 
# de qual biblioteca era o material emprestado ou a qual tema ele se referia.
# Elas se relacionam pela coluna de código de barras de cada material.

# Lembre-se que é muito comum receber dados nulos ou duplicados, por isso não deixe de fazer a limpeza.

In [85]:
import pandas as pd
import pygwalker as pyg

In [84]:
emp2010_1= pd.read_csv('../Planilhas/emprestimos-20101.csv')
emp2010_2= pd.read_csv('../Planilhas/emprestimos-20102.csv')
emp2011_1= pd.read_csv('../Planilhas/emprestimos-20111.csv')
emp2011_2= pd.read_csv('../Planilhas/emprestimos-20112.csv')
emp2012_1= pd.read_csv('../Planilhas/emprestimos-20121.csv')
emp2012_2= pd.read_csv('../Planilhas/emprestimos-20122.csv')
emp2013_1= pd.read_csv('../Planilhas/emprestimos-20131.csv')
emp2013_2= pd.read_csv('../Planilhas/emprestimos-20132.csv')
emp2014_1= pd.read_csv('../Planilhas/emprestimos-20141.csv')
emp2014_2= pd.read_csv('../Planilhas/emprestimos-20142.csv')
emp2015_1= pd.read_csv('../Planilhas/emprestimos-20151.csv')
emp2015_2= pd.read_csv('../Planilhas/emprestimos-20152.csv')
emp2016_1= pd.read_csv('../Planilhas/emprestimos-20161.csv')
emp2016_2= pd.read_csv('../Planilhas/emprestimos-20162.csv')
emp2017_1= pd.read_csv('../Planilhas/emprestimos-20171.csv')
emp2017_2= pd.read_csv('../Planilhas/emprestimos-20172.csv')
emp2018_1= pd.read_csv('../Planilhas/emprestimos-20181.csv')
emp2018_2= pd.read_csv('../Planilhas/emprestimos-20182.csv')
emp2019_1= pd.read_csv('../Planilhas/emprestimos-20191.csv')
emp2019_2= pd.read_csv('../Planilhas/emprestimos-20192.csv')
emp2020_1= pd.read_csv('../Planilhas/emprestimos-20201.csv')
acervo= pd.read_parquet('../Planilhas/dados_exemplares.parquet')

In [83]:
emprestimos_completo= [emp2010_1, emp2010_2, emp2011_1, emp2011_2, emp2012_1, 
                    emp2012_2, emp2013_1, emp2013_2, emp2014_1, emp2014_2, emp2015_1, emp2015_2, emp2016_1, emp2016_2, 
                    emp2017_1, emp2017_2, emp2018_1, emp2018_2, emp2019_1, emp2019_2, emp2020_1,]

# 21 planilhas concatenadas

emprestimos_complet_concat= pd.concat(emprestimos_completo, keys=['2010.1', '2010.2', '2011.1', '2011.2', '2012.1', '2012.2', '2013.1',
                                                            '2013.2', '2014.1', '2014.2', '2015.1', '2015.2', '2016.1', '2016.2', '2017.1', '2017.2',
                                                            '2018.1', '2018.2', '2019.1', '2019.2', '2020.1'])


emprestimos_complet_concat

              id_emprestimo codigo_barras                 data_renovacao  \
2010.1 0             709684       L095049                            NaN
       1             709685       L167050                            NaN
       2             709686    2006017618  2010/01/26 08:07:01.738000000
       3             709687       L184117  2010/01/18 11:07:46.470000000
       4             709684       L095049                            NaN
...                     ...           ...                            ...
2020.1 26556        2989086    2008047044                            NaN
       26557        2989087    2008047047                            NaN
       26558        2989088    2010052905                            NaN
       26559        2989089    2010048023                            NaN
       26560        2989090    2013106838                            NaN

                            data_emprestimo                 data_devolucao  \
2010.1 0      2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
       1      2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
       2      2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
       3      2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
       4      2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
...                                     ...                            ...
2020.1 26556  2020/05/05 19:51:06.059000000  2021/05/13 14:53:31.000000000
       26557  2020/05/05 19:51:06.135000000  2021/05/13 14:53:38.000000000
       26558  2020/05/05 19:51:06.164000000  2021/05/13 15:01:46.000000000
       26559  2020/06/09 11:54:02.669000000  2021/07/21 15:33:55.000000000
       26560  2020/06/09 11:54:02.852000000  2021/07/21 15:33:45.000000000

              matricula_ou_siape             tipo_vinculo_usuario
2010.1 0            2.008023e+09               ALUNO DE GRADUAÇÃO
       1            2.008023e+09               ALUNO DE GRADUAÇÃO
       2            2.008112e+09           ALUNO DE PÓS-GRADUAÇÃO
       3            2.007211e+08               ALUNO DE GRADUAÇÃO
       4            2.008023e+09               ALUNO DE GRADUAÇÃO
...                          ...                              ...
2020.1 26556        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
       26557        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
       26558        3.067431e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
       26559        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO
       26560        2.020101e+10           ALUNO DE PÓS-GRADUAÇÃO

[2258018 rows x 7 columns]

In [93]:
emprestimos_complet_concat.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Length: 968028, dtype: int64

In [94]:
emprestimos_complet_concat= emprestimos_complet_concat.drop_duplicates()

In [92]:
emprestimos_complet_concat.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Length: 968028, dtype: int64

In [96]:
planilha_completa= emprestimos_complet_concat.merge(acervo) 

planilha_completa_concat= pd.concat([planilha_completa], keys=['2010.1', '2010.2', '2011.1', '2011.2', '2012.1', '2012.2', '2013.1',
                                                            '2013.2', '2014.1', '2014.2', '2015.1', '2015.2', '2016.1', '2016.2', '2017.1', '2017.2',
                                                            '2018.1', '2018.2', '2019.1', '2019.2', '2020.1', 'acervo'])

print (planilha_completa_concat)

                id_emprestimo codigo_barras                 data_renovacao  \
2010.1 0               709684       L095049                            NaN
       1               726965       L095049  2010/03/31 12:41:08.684000000
       2               709685       L167050                            NaN
       3               717763       L167050                            NaN
       4               729996       L167050  2010/03/17 09:08:26.874000000
...                       ...           ...                            ...
       2072517        2989018    2009036492                            NaN
       2072518        2989020    2014062640                            NaN
       2072519        2989032    2018003324                            NaN
       2072520        2989049    2006024313                            NaN
       2072521        2989061    2018031352                            NaN

                              data_emprestimo                 data_devolucao  \
2010.1 0        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
       1        2010/03/01 12:40:56.212000000  2010/04/30 14:42:35.366000000
       2        2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
       3        2010/02/11 11:16:30.335000000  2010/03/04 08:54:32.262000000
       4        2010/03/04 13:36:26.599000000  2010/03/31 18:04:29.669000000
...                                       ...                            ...
       2072517  2020/03/17 19:49:10.187000000  2020/12/03 08:12:20.000000000
       2072518  2020/03/17 19:51:15.700000000  2021/01/07 11:16:28.000000000
       2072519  2020/03/17 20:00:11.416000000  2021/08/30 13:29:44.000000000
       2072520  2020/03/17 20:47:18.741000000                            NaN
       2072521  2020/03/17 21:22:22.138000000  2021/07/26 15:05:20.000000000

                matricula_ou_siape    tipo_vinculo_usuario  id_exemplar  \
2010.1 0              2.008023e+09      ALUNO DE GRADUAÇÃO        13259
       1              2.009122e+09  ALUNO DE PÓS-GRADUAÇÃO        13259
       2              2.008023e+09      ALUNO DE GRADUAÇÃO        70865
       3              2.008050e+09      ALUNO DE GRADUAÇÃO        70865
       4              2.007226e+08      ALUNO DE GRADUAÇÃO        70865
...                            ...                     ...          ...
       2072517        2.015011e+10      ALUNO DE GRADUAÇÃO       274820
       2072518        2.019004e+10      ALUNO DE GRADUAÇÃO      1157915
       2072519        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO      1317173
       2072520        2.015013e+10      ALUNO DE GRADUAÇÃO       206073
       2072521        2.020001e+10      ALUNO DE GRADUAÇÃO      1342535

                          colecao  \
2010.1 0        Acervo Circulante
       1        Acervo Circulante
       2        Acervo Circulante
       3        Acervo Circulante
       4        Acervo Circulante
...                           ...
       2072517  Acervo Circulante
       2072518  Acervo Circulante
       2072519  Acervo Circulante
       2072520  Acervo Circulante
       2072521  Acervo Circulante

                                                       biblioteca  \
2010.1 0                           Biblioteca Central Zila Mamede
       1                           Biblioteca Central Zila Mamede
       2                           Biblioteca Central Zila Mamede
       3                           Biblioteca Central Zila Mamede
       4                           Biblioteca Central Zila Mamede
...                                                           ...
       2072517                     Biblioteca Central Zila Mamede
       2072518                     Biblioteca Central Zila Mamede
       2072519  Biblioteca Setorial da Faculdade de Ciências d...
       2072520                     Biblioteca Central Zila Mamede
       2072521                     Biblioteca Central Zila Mamede

               status_material  localizacao  registro_sistema
2010.1 0               REGULAR          630              4225
       1               REGULAR          630              4225
       2               REGULAR          647             25009
       3               REGULAR          647             25009
       4               REGULAR          647             25009
...                        ...          ...               ...
       2072517         REGULAR          676            120845
       2072518         REGULAR          228            213248
       2072519         REGULAR          784            255835
       2072520         REGULAR          663             82178
       2072521         REGULAR          355            174443

[2072522 rows x 13 columns]

In [97]:
planilha_completa_concat.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario',
       'id_exemplar', 'colecao', 'biblioteca', 'status_material',
       'localizacao', 'registro_sistema'],
      dtype='object')

In [99]:
# walker= pyg.walk(planilha_completa_concat)